
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto;
    min-width: 300px;
    text-align: center;
    margin-bottom: 20px;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.link-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.link-button:hover {
    background-color: #0056b3;
}
.section {
    margin-bottom: 15px;
}
.section-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: left;
}
.status, .stage {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: white;
    appearance: none;
    outline: none;
    cursor: pointer;
    text-align: center;
}
.status::after, .stage::after {
    content: '\25BC'; /* Down arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: white;
}
.status.open { background-color: #6c757d; } /* Gray */
.status.won { background-color: #28a745; } /* Green */
.status.lost { background-color: #fd7e14; } /* Orange */
.status.issues { background-color: #dc3545; } /* Red */


.stage.outreach { background-color: #FFEDB3; } /* Outreach */
.stage.new { background-color: #6c757d; } /* New */
.stage.discovery { background-color: #00aaff; } /* Discovery Client */
.stage.quote { background-color: #2C73D2; } /* Quote Sent */
.stage.negotiating { background-color: #E64363; } /* Negotiating */
.stage.offer { background-color: #FFC107; } /* Offer With Talent */
.stage.contracting { background-color: #C8E6C9; } /* Contracting */
.stage.ongoing { background-color: #5D4037; } /* Ongoing (?) */
.stage.working { background-color: #673AB7; } /* Being Worked On */
.stage.completed { background-color: #26A69A; } /* Completed */
.stage.invoice_sent { background-color: #007BFF; } /* Invoice Sent */
.stage.invoice_paid { background_color: #D1C4E9; } /* Invoice Paid */


select.status option, select.stage option {
    color: white;
    font-size: 16px;
    padding: 10px;
    height: 50px; /* Matching the height of the main select */
    text-align: center;
}
select.status option.open { background-color: #6c757d; } /* Gray */
select.status option.won { background-color: #28a745; } /* Green */
select.status option.lost { background-color: #fd7e14; } /* Orange */
select.status option.issues { background-color: #dc3545; } /* Red */


select.stage option.outreach { background-color: #FFEDB3; } /* Outreach */
select.stage option.new { background-color: #6c757d; } /* New */
select.stage option.discovery { background-color: #00aaff; } /* Discovery Client */
select.stage option.quote { background-color: #2C73D2; } /* Quote Sent */
select.stage option.negotiating { background-color: #E64363; } /* Negotiating */
select.stage option.offer { background-color: #FFC107; } /* Offer With Talent */
select.stage option.contracting { background-color: #C8E6C9; } /* Contracting */
select.stage option.ongoing { background-color: #5D4037; } /* Ongoing (?) */
select.stage option.working { background-color: #673AB7; } /* Being Worked On */
select.stage option.completed { background-color: #26A69A; } /* Completed */
select.stage option.invoice_sent { background-color: #007BFF; } /* Invoice Sent */
select.stage option.invoice_paid { background_color: #D1C4E9; } /* Invoice Paid */


.card-deliverables {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: left;
    white-space: pre-wrap;
}

.tasks {
    list-style: none;
    padding-left: 0;
}

/* Стили для элементов списка задач */
.tasks li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    text-align: left; 
    white-space: pre-wrap;
}

.tasks li input {
    margin-right: 10px;
}


.tasks li span ul {
    list-style-type: disc; 
    padding-left: 20px; 
    white-space: normal;
}

.tasks li span ul li {
    display: list-item; 
    align-items: inherit; 
    white-space: normal;
}
.tasks li span {
    text-align: left; 
    display: block; 
    width: 100%; 
}

.tasks li p, .tasks li span p {
    text-align: left; 
}

.no-records {
    font-size: 18px;
    color: #007bff;
    text-align: center;
    margin-top: 20px;
}

.tech-details {
    width: 100%;
    max-width: 800px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}



